.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  gap: 2rem;
  padding-top: var(--large-padding);
  padding-bottom: var(--large-padding);
}

button:hover {
  cursor: pointer;
}
