.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  gap: 2rem;
  padding-top: var(--large-padding);
  padding-bottom: var(--large-padding);
}

button:hover {
  cursor: pointer;
}

h1 {
  background-color: #1a1a1a79;
  padding: var(--medium-padding);
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: var(--extra-large-font-size);
}
