:root {
  /* Make variables for color scheme and consistent margins and paddings */
  --primary-color: #1a1a1a;
  --secondary-color: white;
  --background-color: #da8b8b;
  --accent-color: #ff5c5c;
  --small-margin: 0.5rem;
  --medium-margin: 1rem;
  --large-margin: 2rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 2rem;
  --small-font-size: 0.8rem;
  --medium-font-size: 1rem;
  --large-font-size: 1.5rem;
  --extra-large-font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;

  font-family: 'Sono', monospace;
}

body {
  background-image: url('../../public/background.png');
  /* make the background larger than the screen so that when overscroll happens it still shows it */
  background-color: var(--primary-color);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--primary-color);
  height: 100dvh;
}

@media (max-width: 1000px) {
  body {
    background-size: 400%;
  }
}
