.cardImg {
  height: 0dvw;
  width: 0dvw;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.shrinking {
  height: 10dvw;
  width: 10dvw;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

.growing {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  height: 10dvw;
  width: 10dvw;
  opacity: 1;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--small-margin);
  background-image: url('../../public/portal.png');
  height: 20dvw;
  width: 20dvw;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.cardButton {
  border-radius: 50%;
  opacity: 1;
  background-color: transparent;
  border: 0px;
}
.cardButton:hover {
  cursor: pointer;
  box-shadow: 0px 0 100px 10px gold;
}

@media (max-width: 1000px) {
  .cardContainer {
    height: 40dvw;
    width: 40dvw;
  }
  .cardImg {
    height: 0dvw;
    width: 0dvw;
  }
  .shrinking {
    height: 25dvw;
    width: 25dvw;
  }
  .growing {
    height: 25dvw;
    width: 25dvw;
  }
}
